/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2023, 11:52:20 PM
    Author     : ahmed
*/

.white-form{
    -fx-background-color: #fff;
    -fx-bacbackground-radius: 8px;

}

.border{

    -fx-border-color : linear-gradient(to bottom right ,#9e20a0 , #5a3375 ) ;
    -fx-border-width : 1px;
    -fx-border-radius : 8px;

}
.btn{
    -fx-background-color:linear-gradient(to bottom right ,#9e20a0 , #5a3375 );
    -fx-text-fill: #fff;
    -fx-font-size : 14px;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color:linear-gradient(to bottom right ,#a914ae , #7f4fa4 );
    -fx-text-fill: #fff;
    -fx-font-size : 14px;
    -fx-cursor: hand;
}

.table-view{
    -fx-paddding: 0px;
    -fx-background-color:transparent;
    -fx-border-color : linear-gradient(to bottom right ,#9e20a0 , #5a3375 ) ;
    -fx-border-width : 1px;
    -fx-border-radius : 8px;

}
.table-view .column-header{

    -fx-alignment:center;

}
.table-view .column-header-background{

    -fx-background-color:linear-gradient(to bottom right ,#a914ae , #7f4fa4 );
    -fx-background-radius : 8px 8px 0 0 ;
    -fx-background-inset : 0 0 0 0;

}
.table-view .column-header, .filter{

    -fx-background-color:transparent;
    -fx-size: 40px;

}
.table-view .column-header .label{

    -fx-text-fill: #fff;
    -fx-font-size : 14px;

}