/* Apply this style to the VBox with id 'root' in MainPage.fxml */
.root {
    -fx-background-color: linear-gradient(to bottom right, #9e20a0, #5a3375);
}

/* Apply this style to the TableView with class 'wishlist-table' in MainPage.fxml */
.wishlist-table {
    -fx-background-color: #fff; /* Set a background color for the table */
}

/* Apply this style to the Button with class 'contribute-button' in MainPage.fxml */
.contribute-button {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

/* Apply this style to the Button with class 'view-all-items-button' in MainPage.fxml */
.view-all-items-button {
    -fx-background-color: linear-gradient(to bottom right, #9e20a0, #5a3375);
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}