/iWishClientApp/build/
/iWishClientApp/dist/
/iWishServerApp/build/
/iWishClientApp/nbproject/private/
/iWishServerApp/nbproject/private
/iWishServerAppDraft/build/
/iWishClientAppDraft/build/
/iWishServerApp/dist/